---
import BaseLayout from '../../layouts/BaseLayout.astro';
import talksData from '../../../../old/content/talks/talks.json';
const talks = [...talksData.talks].sort((a, b) => b.date.localeCompare(a.date));
---

<BaseLayout title="Talks">
  <h1>Talks</h1>
  {talks.map((talk) => (
    <article class="mb-16">
      <h2 class="!m-0 !mb-1 !text-xl lg:!text-2xl !font-medium"><a class="text-black dark:text-white no-underline hover:underline" href={talk.talk_link}>{talk.title}</a></h2>
      <div class="flex gap-4 flex-wrap text-sm lg:text-base text-gray-500"><span>{talk.type === 'panel' ? 'Participated in panel at' : 'Presented at'} <a href={talk.event_link}>{talk.event}</a> on {new Date(`${talk.date}T12:00:00Z`).toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric', timeZone: 'UTC' })}</span>{talk.video_link && <span><a href={talk.video_link}>Watch the Recording</a></span>}{talk.slides_link && <span><a href={talk.slides_link}>View the Slides</a></span>}</div>
      {talk.description && <p class="mt-6">{talk.description}</p>}
    </article>
  ))}
</BaseLayout>
